<div class="container mb-5">
  <div class="row">
  @for (product of products; track $index) {
    <div class="col-md-4 col-12">

      <div class="product-card">
        <div class="badge">Hot</div>
        <div class="product-tumb">
          <img [src]="product.thumbnail" alt="">
        </div>
        <div class="product-details">
          <span class="product-catagory">{{product.category}}</span>
          <h4><a href="">{{product.title}}</a></h4>
          <div class="product-bottom-details">
            <div class="product-price"><small>${{product.price}}</small>{{((product.price - (product.price * product.discountPercentage) / 100).toFixed(2))}}</div>
            <div class="product-links">
              <a href=""><i class="fa fa-heart"></i></a>
              <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
          </div>
        </div>
      </div>

        </div>
    }
    </div>

</div>


